body{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

/* Navigation */

header{
    height: 633px;
    width: auto;
}

.nav_bar{
    width: auto;
    height: 114px;
    padding: 10px 230px 0 110px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

}

.logo a{
    text-decoration: none;
    color: black;
    
}

.logo img{
    width: 20px;
    height: 25px;
}

.nav_items{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items a{
    text-decoration: none;
    color: black;
}

.button{
    font-family: Inter, sans-serif;
    background-color: #0069FF;
    border: none;
    padding: 15px 28px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
}

/* Header Form*/

.header_form{
    display: flex;
    padding: 0 110px;
    margin: 0;
    justify-content: space-between;
}

.header_text{
    padding: 0 0 0 10px;
    margin: 0;
    align-content: center;
}

.join{
    font-size: 48px;
}

.under_join{
    color: #0A2A42;
    font-size: 16px;
}

.join_button{
    color: white;
    background-color: #0069FF;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 15px 28px;
    margin-top: 24px;
    font-weight: 500;
}

.header_img{
    position: relative;
    bottom: 10px;
}







/* Body Content */

.content{
    padding: 75px 110px 0 110px;
    width: auto;
    height: 1100px;
    background-color: whitesmoke;
 
}

.iphone_content{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1100px;
}

.iphone_img{
    width: 800px;
    height: 800px;
    position: relative;
    bottom: 100px;
}

.iphone{
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
}

.iphone-family{
    font-size: 32px;
    margin: 0;
    padding: 10px 20px;
    font-weight: 300;
}

.intelligence{
    font-size: 24px;
    display: inline-block;
    color: transparent;
    background: linear-gradient(94deg, rgb(0, 144, 247), rgb(186, 98, 252), rgb(242, 65, 107), rgb(245, 86, 0)) text;
}

.iphone-buttons{
    gap: 30px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.more{
    font-family: Inter, sans-serif;
    background-color: #0069FF;
    border: none;
    padding: 15px 28px;
    border-radius: 50px;
    font-size: 24px;
    color: white;
    font-weight: 300;
}

.shop-iphone{
    font-family: Inter, sans-serif;
    background-color: white;
    border:  #0069FF 1.5px solid;
    padding: 15px 28px;
    border-radius: 50px;
    font-size: 24px;
    color: #0069FF;
    font-weight: 300;
}

.shop-iphone:hover{
    background-color: #0069FF;
    color: white;
}


/* iPad Content */

.ipad-content{
    padding: 75px 110px 75px 110px;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    text-align: center;
}

.ipad_img{
    width: 800px;
    height: 800px;
}


/* Mac Content */

.mac-content{
    padding: 75px 110px 75px 110px;
    width: auto;
    height: 1100px;
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    text-align: center;
}

.macbook_img{
    width: 900px;
    height: 900px;
    position: relative;
    bottom: 100px;
}

.mac_buttons{
    position: relative;
    bottom: 250px;
}


/* Bottom Menu */

.contacts{
    
    display: flex;
    margin: 0;
    background-color: rgb(0, 0, 0);
    padding: 75px 110px 75px 110px;   
    
}

.contacts_container{
    width: 100%;
}

.contacts-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.column{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.contacts a{
    text-decoration: none;
    color: white;
    gap: 10px;
}

.contacts p{
    font-size: 18px;
    font-weight: 700;
    color: white;
}




/* Hovering */

.logo img:hover{
    transform: scale(1.2);
    transition: 0.3 linear;
}

.logo img:not(:hover){
    transform: scale(1);
    transition: 0.3 linear;
}


.nav_items a:hover{
    transform:scale(1.2);
    transition: 0.3s linear;
}

.nav_items a:not(:hover){
    transform:scale(1);
    transition: 0.3s ease;
}


.button:hover, .more:hover, .join_button:hover{
    background-color: black;
    transition: 0.3s ease;
}

.button, .more, .join_button:not(:hover){
    background-color: 0069FF;
    transition: 0.3s ease;
    color: white;
}

/* Hovering Footer */

.contacts a:hover{
    transform: scale(1.05);
    transition: 0.3s linear;
}

.contacts a:not(:hover){
    transform: scale(1);
    transition: 0.3s linear;
}


/* Media Optimization */

@media  screen and (max-width: 1200px) {
    
    
    .header_form{
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .header_text{
        padding: 0;
    }

    header .header_img{
        opacity: 0;
    }
}

@media  screen and (max-width: 981px) {
    header .nav_bar{
        padding: 0;
        display: grid;
        margin: 50px 110px;
        justify-content: center;
        height: 500px;
        text-align: center;
    }

    .nav_bar .logo{
        margin-bottom: 100px;
    }

    header .button{
        display: flex;
        justify-content: center;
    }

    .nav_items{
        display: grid;
        
    }

    .header_form .join{
        font-size: 36px;
    }

    header{
        height: auto;
        padding-bottom: 50px;
    }

    header .header_img{
        height: 0;
        width: 0;
    }

    .header_form .header_text{
        margin-top: 100px;
        position: relative;
        height: auto;
    }

    .content .iphone_img{
        width: 600px;
        height: auto;
    }

    .ipad-content .ipad_img{
        width: 600px;
        height: auto;
    }

    .mac-content .macbook_img{
        width: 700px;
        height: auto;
    }


    }








@media screen and (max-width: 414px) {
    header{
        height: auto;
        width: 414px;
        padding: 0 0 50px 0;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 414px) {
    section .content{
        display: grid;
        padding: 0;
        margin: 0;
    }

    .content .iphone-buttons{
        display: grid;
    }

    .content .iphone_img{
        width: 400px;
        height: auto;
    }

    .content .mac_img{
        width: 400px;
        height: auto;
    }


    section .ipad-content{
        display: grid;
        padding: 0;
        margin: 0;
    }

    .ipad-content .ipad_buttons{
        padding-top: 30px;
    }
    
    .ipad-content .iphone-family{
        font-size: 24px;
    }

    .ipad-content .ipad_img{
        width: 400px;
        height: auto;
    }

    header .iphone{
        font-size: 36px;
    }

    .contacts{
        height: auto;
    }

    .mac-content .macbook_img{
        width: 400px;
        height: auto;
    }

    .contacts .contacts-list{
        display: grid;
        gap: 50px;
    }
}
